$primary: #003cff;
$accent: #3681f0;
$black: #000;
$white: #fff;
$gray: #ccc;
$grayElement: #d6d6d6;
$background: #f6f5fb;
// $lightPrimary: #4d77ff;
// $hoverPrimary: #e5ebff;

$font: 'Inter', sans-serif;

$transition: all 0.3s ease-in-out;
$base-transition: 0.3s ease-in-out;
