$primary: #003cff;
$accent: #3681f0;
$darkAccent: #354afb;
$black: #000;
$white: #fff;
$green: #1ebf52;
$red: #bf281e;
$orange: #f9ac30;
$gray: #a9acb3;
$grayElement: #d6d6d6;
$background: #f6f5fb;
$lightPrimary: #4d77ff;
$hoverPrimary: #e5ebff;

$font: 'Inter', sans-serif;

$transition: all 0.3s ease-in-out;
